<!-- since the books is an array, iterate the array -->
<h3>Welcome <%= current_user.username %></h3>

<% if @books.any? %>
	<% @books.each do |book| %>
		<p>
		Title: <%= book.title %>
		<br>
		Author: <%= book.author %>
		<a href="/books/<%= book.id%>">Details</a>
		</p>
	<% end %>
<% else %>
		<p>
			No books found.
		</p>
<%end%>

<a href="/">Homepage</a>